/* COLORS:

Red: 7D0000  rgba(125, 0, 0, 1)

Blue: 1D5F9A    rgba(29, 95, 154, 1)  /// rgba(29, 95, 154, 0.7)

Green: 1E684C     rgba(30, 104, 76, 1)

Grey : rgb(135, 166, 192)

Statt Schwarz f端r Typographie:  rgba(18, 10, 12, 1)

: Portfolio:10 ; ul:9 ;

/*ZEN KAKU GOTHIK NEW : 300 f端r dunkel auf hell / 400 f端r hell auf dunkel */ /*BLEIBT*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');

/*for title2*/ /*BLEIBT*/
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

/* For Menue & h3 */ /*BLEIBT*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


div {
    overflow-x: hidden;
}

/*BODY : typography*/
p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1.8vw;
}

/*Hell auf dunkel*/
.hell {
    font-weight: 400;
    color: rgb(255, 255, 255);
}

/*dunkel auf hell*/
.dark {
    font-weight: 300;
    color: rgba(18, 10, 12, 1);
}

h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 3.8vw;

    font-family: 'Contrail One', cursive;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(125, 0, 0, 1), 0.1vw -0.1vw 0vw rgba(125, 0, 0, 1), -0.1vw  0.1vw 0vw rgba(125, 0, 0, 1), -0.1vw -0.1vw 0vw rgba(125, 0, 0, 1);

    display: inline-block;
}

h2 {
    text-transform: uppercase;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    color: rgba(18, 10, 12, 1);
    font-size: 3vw;

    display: inline-block;
}

h3 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    padding-top: 0.5vw;

    color: rgb(26, 2, 2, 1);
}


/*HEADER : typography*/

#subtitle {
    margin-top: 0.3vw;
    margin-left: 0.3vw;
    margin-bottom: 1.5vw;
    font-family: 'Inconsolata', monospace;
    font-size: 2vw;
    background-color: none;
    letter-spacing: -2px;


    display: none; /*just for now*/
}


  

#title {
    font-family: 'Contrail One', cursive;
    margin-left: 0.5vw;
    margin-right: 4vw;

    font-size: 8vw;
    line-height: 8.5vw;
    letter-spacing: -0.62vw;

    position: relative; top: -10vw;

    animation-name: disappear;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes disappear{
    0% {color: rgba(255, 255, 255, 0.205); font-size: 6vw; letter-spacing: -7vw;; opacity: 0%; position: relative; top: -10vw;}
    2% {color: rgba(255, 255, 255, 0.205); font-size: 8vw; letter-spacing: -2vw;; opacity: 0%; position: relative; top: 0vw;}
    15% {color: rgba(255, 255, 255, 1); font-size: 8vw; letter-spacing: -0.6vw;; opacity: 100%; position: relative; top: 0vw;} /*BREAK*/
    55% {color: rgba(255, 255, 255, 1); font-size: 8vw; letter-spacing: -0.6vw;; opacity: 100%; position: relative; top: 0vw;}
    57% {color: rgba(255, 255, 255, 1); font-size: 8vw; letter-spacing: -1vw;; opacity: 70%; position: relative; top: 0vw;}
    59% {color: rgba(255, 255, 255, 0.9); font-size: 8vw; letter-spacing: -1.4vw;; opacity: 65%; position: relative; top: 0vw;}
    80% {color: rgba(255, 255, 255, 0.7); font-size: 8vw; letter-spacing: -2vw; opacity: 10%; position: relative; top: 0vw;}
    85% {color: rgba(255, 255, 255, 0.2); font-size: 8vw; letter-spacing: -2.5vw; opacity: 0%; position: relative; top: 0vw;}
    100% {color: rgba(255, 255, 255, 0); font-size: 8vw; letter-spacing: -5vw; opacity: 0%; position: relative; top: -10vw;}
}

figure {
    text-align: center;
}

figcaption {
    color: rgba(18, 10, 12, 1);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1vw;
    margin: 1vw 2.5vw 1vw 2.5vw;
    text-align: center;
    font-weight: lighter;
}

a {
    text-decoration: underline;
}

/* GENERAL STRUCTURE & APPEARANCE */

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgba(36, 8, 16, 1);
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;

    height: 10vw;
    width: 100vw;
    overflow: visible;
        /* f. testing */
    /* border-radius: 2px;
    border-color: chocolate;
    border-style: solid; */
}
       
#scrolls {
    width: 100vw;
    height: 60vw;

    overflow-y: hidden;
    
    margin: 10vw 0 0 0;
    padding: 0 0 0 0;
}

/* SECTIONS*/
/*1.*/

#splash_aboutMe {

    margin: 0 0 0 0;
    width: 100vw;
    height: 50vw;
    max-height: 90vw;

    /* display: flex;
    justify-content: center;
    align-items: center;   /*then I cant put any hover effectes on it */

    overflow-y: scroll;
    scroll-behavior: smooth;
            /*why isn't background-size taking any influence*/  
            /*f. testing*/
    /* border-color: rgb(226, 43, 43);
    border-width: 3px;
    border-style: solid;*/
} 
    /*contains the comic-pic*/
#splash {
    margin: 0 0 0 0;
    width: 100vw;
    height: 40vw;

    position: fixed;

    overflow-y: hidden;

    /*f. testing*/
    /* border-color: rgb(0, 57, 80);
    border-width: 6px;
    border-style: solid; */
}

#splashImg {
    width: 100vw;
    position: fixed;
    top: -8vw;
}

#aboutMe {
    width: 40vw;
    margin: 10vw 3vw 10vw 30vw;
    height: 20vw;
    max-height: 90vw;
    padding: 3vw;

    overflow-y: auto;

    /* for testing */
    border-color: rgba(125, 0, 0, 1);
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;

    animation-name: blink;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: ease-out;
    animation-iteration-count: 2;
}

#aboutMe:hover {
    background-color: rgba(29, 95, 154, 1);
    color: rgb(255, 255, 255);
}

#aboutMe p {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.01vw;
}

/*2. SWCOND SECTION*/

#portfolio {
    width: 100vw;
    height: 100vh;

    margin-top: -10vw;

    overflow-y: scroll;

    /* for testing */
    /* border-color: rgb(0, 2, 139);
    border-width: 6px;
    border-style: solid; */
}

#portfolio_h1 {
    position: relative;
    top: 1vw;
    right: 0;
    overflow-x: visible;
}

#portfolio #content {
    background-color: white;

    border-collapse: collapse;
    border-radius: 0.8vw;
    border-color: rgb(26, 2, 2, 1);
    border-width: 0.1vw;
    border-style: solid;

    position: relative;
    scroll-behavior: none;
    top: -1vw;
    width: 100vw;
    margin: 0 0 0 0;
    
    overflow-y: scroll;

    padding: 5vw 3vw 2vw 3vw;

        /*Order Items*/
    display: grid;
    grid-template-columns: 28vw 21vw 21vw 21vw;
    grid-template-rows: 10vw 1fr 10vw; 
}

#portfolio p {
    font-size: 1.5vw;
    text-align: justify;
}

grid_item:first-child {
    grid-column: 1 / 2;  /* span from grid column line 1  (i.e., span 2 columns) */
    grid-row: 1 / 3;    /* same concept, but for rows */
}

#h1_and_h2 {
    grid-column: 2 / 5;  /* span from grid column line 1  (i.e., span 2 columns) */
    grid-row: 1 / 2;    /* same concept, but for rows */
    padding-left: 4vw;

}

.screen {
    width: 22vw;
    align-self: end;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen figcaption {
    position: relative;
    top: -4vw;
}

.screenImg {
    width: 18vw;
}

/*CONTACT*/


#contact {

    margin-top: 10vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 20vw;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;

    border-width: 0.1vw;
    border-radius: 0.05vw;
    border-style: solid;
    border-color: rgba(125, 0, 0, 1);
    
    /* background-color: blueviolet; */
}

#contactButton {
    width: 16vw;
    height: auto;
    padding: 2vw;
    margin: 0.3vw;
}

#contact a {
    text-align: center;
    justify-content: center;

    font-family: 'Zen Kurenaido', sans-serif;
    letter-spacing: 0.1vw;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2vw;
    line-height: 2vw;
}

#contact a:hover {
    color: white;
}

#card {
    margin: 20vw;
    background-color: azure 0.8;
}

/*MENUE*/ 

ul {
    position: fixed;
    top: 3vw;
    right: 2vw;
    display: flex; /* ! */
    flex-direction: column; /* ! */
    justify-content: space-around;

    width: 12vw;
    height: 5vw;

    list-style: none;
    text-align: right;
    padding-top: 0.2vw;
}

.button {
    /* background-color: rgba(255, 255, 255, 0.8); */

    border-width: 0.1vw;
    border-radius: 0.05vw;
    border-style: solid;
    border-color: rgba(125, 0, 0, 1);
    background-color: rgba(29, 95, 154, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    animation-name: blink;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: ease-out;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        border-width: 0.1vw;
        border-radius: 0.05vw;
        border-color: rgba(125, 0, 0, 1);
    }

    to {
        border-width: 0.2vw;
        border-radius: 0.1vw;
        border-color: rgb(150, 0, 0);
    }
}

.button:hover {
    background-color: rgba(29, 95, 154, 1);
}

#menueButton {
    width: 12vw;
    height: auto;
    padding: 1.5vw 2vw 2vw 2vw;
    margin: 0.3vw;
}

ul a {
    text-align: center;
    justify-content: center;

    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.7vw;
    letter-spacing: 0.1vw;
    line-height: 0.5vw;
}

ul a:hover {
    color: white;
}

* {
    border-style: none;
    border-color: thistle 0%;

}

/*RANGE / HIERARCHY*/

#portfolio_h1 {
    z-index: 10;
}
#portfolio {
    z-index: 9;
}
ul {
    z-index: 0;
}
#aboutMe {
    z-index: -1;
}
#splash {
    z-index: -10;
}
#splash img {
    z-index: -10;
}

#contact {
    z-index: 1;
}


/*----------------------

/* why was the picture to the left-top corner? The div inside of which the picture is shouldn't be there - because the DIV FOLLLOWS THE CONTENT BY DEFAULT*/
/* because elements with position:absolute dont take influence on other elements and our headers position WAS absolute back then. */
/* "position: inherit;" is the DEFAULT value*/
/* When we want to use background image for a div we need to set div and height. Background-img don't influence the properties of a div like other content.*/
/*To define the position of a picture relative to the viewport we need to set "position" to "absolute" or to "fixed" first*/
/* "position: absolute;" : other elements behavior ignore this element */



/*focus f端r scrolls j query element.focus */